body {
    background: black url("../images/background.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    color: #EEE;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section {
    background-color: rgba(255, 255, 255, 0.2);
}

img.champion {
    height: 63px;
}

img.champion-selected {
    border: 1px solid yellow;
}

.champion-grid {
    padding-left: 17px;
    padding-bottom: 1em;
}

.mastery-page {
    padding: 1em;
}

.champion-stats {
    padding-top: 1em;
    padding-bottom: 1em;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mastery-page-outer {
    height: 500px;
    display: block;
}

.mastery-page-flex {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 838px;

    background: #333333;
    box-shadow: 0 0 2px black;
    padding: 10px;
    margin: auto;
    min-height: 400px;
}

.mastery-tree {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin-right: 1px;
    justify-content: space-around;
    background-size: 290px !important;
    border: 1px solid #111111;
}

.mastery-tree-title {
    text-align: center;
    /* padding-top: 0; */
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 2px #000;
    margin-bottom: 5px;
}

.mastery-tree > .mastery-row:nth-child(odd) {
    justify-content: space-around;
}

.mastery-tree > .mastery-row:nth-child(even) {
    justify-content: center;
}

.mastery-tree > .mastery-row {
    display: flex;
}

.mastery-tree > .mastery-row > .mastery-cell {
    flex: 0 0 30%;
}

.mastery-none {
    opacity: 0.3;
}

.mastery-icon {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    background-size: 52px;
    border: 2px solid lime;
    border-radius: 6px;
    box-shadow: 0 0 1px #000;
}

.mastery-rank {
    line-height: 14px;
    font-size: 12px;
    /* display: inline-block; */
    position: relative;
    left: 25px;
    top: -24px;
    background: #111;
    border-radius: 3px;
    padding: 2px;
    border: 1px solid #ffd700;
}

.stylish-input-group {
    padding-top: 1em;
    padding-bottom: 1em;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group div {
    border: 0;
    background: transparent;
}